/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    text-align: center;
}

/* Estilização do primeiro cabeçalho */
.header-principal h1 {
    font-size: 2.5em;
    color: #0056b3;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilização do segundo cabeçalho */
.header-secundario h2 {
    font-size: 2em;
    color: #009688;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Estilo para seções */
section {
    margin-bottom: 20px;
    padding: 10px;
}
